/* Base styles for the sidebar */
.sidebar {
  background-color: #1c2455;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  width: 325px;
  padding: 20px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  transition: all 0.3s ease; /* Updated to transition all properties */
}

/* Header styles */
.sidebar-header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.sidebar img {
  border-radius: 50%;
  width: 80px;
  height: 80px;
  margin-right: 10px;
}

.sidebar h5 {
  color: white;
  margin: 0;
}

/* Navigation styles */
.sidebar .nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
}

.sidebar .nav-item {
  margin-bottom: 20px;
}

.sidebar .nav-link {
  color: white;
  font-size: 16px;
  padding: 5px 10px;
  display: flex;
  align-items: center;
  text-decoration: none;
  position: relative;
}

/* Hover styles */
.sidebar .nav-link:hover {
  background-color: white;
  color: #1c2455;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.sidebar .nav-link:hover i {
  color: #1c2455;
}

.sidebar .nav-link i {
  margin-right: 15px;
}

.white-box {
  background-color: white;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.white-box .nav-link,
.white-box .nav-link i {
  color: #1c2455;
}

.white-box .nav-link:hover,
.white-box .nav-link:hover i {
  background-color: #1c2455;
  color: white;
}

/* Responsive styles */
@media (max-width: 1200px) {
  .sidebar {
    width: 250px;
  }

  .sidebar img {
    width: 70px;
    height: 70px;
  }

  .sidebar .nav-link {
    font-size: 14px;
  }
}

@media (max-width: 992px) {
  .sidebar {
    width: 200px;
    padding: 15px;
  }

  .sidebar img {
    width: 60px;
    height: 60px;
  }

  .sidebar .nav-link {
    font-size: 12px;
    padding: 5px;
  }
}

@media (max-width: 768px) {
  .sidebar {
    width: 150px; /* Shrink further */
    padding: 10px;
  }

  .sidebar img {
    width: 50px;
    height: 50px;
  }

  .sidebar .nav-link {
    font-size: 10px; /* Reduce font size */
    padding: 3px;
  }
}

@media (max-width: 576px) {
  .sidebar {
    width: 100px; /* Shrink further */
    padding: 5px;
  }

  .sidebar img {
    width: 40px;
    height: 40px;
  }

  .sidebar .nav-link {
    font-size: 8px; /* Reduce font size */
    padding: 2px;
  }
}

@media (max-width: 480px) {
  .sidebar {
    width: 80px; /* Shrink further */
    padding: 5px;
  }

  .sidebar img {
    width: 30px;
    height: 30px;
  }

  .sidebar .nav-link {
    font-size: 8px; /* Reduce font size */
    padding: 1px;
  }
}

@media (max-width: 320px) {
  .sidebar {
    width: 60px; /* Shrink further */
    padding: 3px;
  }

  .sidebar img {
    width: 20px;
    height: 20px;
  }

  .sidebar .nav-link {
    font-size: 6px; /* Reduce font size */
    padding: 1px;
  }
}
