body {
  display: flex;
}

/* Base styles for the sidebar */
.sidebar {
  background-color: #1c2455;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  width: 325px;
  padding: 20px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  transition: all 0.3s ease; /* Updated to transition all properties */
}

/* Header styles */
.sidebar-header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.sidebar img {
  border-radius: 50%;
  width: 80px;
  height: 80px;
  margin-right: 10px;
}

.sidebar h5 {
  color: white;
  margin: 0;
}

/* Navigation styles */
.sidebar .nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
}

.sidebar .nav-item {
  margin-bottom: 20px;
}

.sidebar .nav-link {
  color: white;
  font-size: 16px;
  padding: 5px 10px;
  display: flex;
  align-items: center;
  text-decoration: none;
  position: relative;
}

/* Hover styles */
.sidebar .nav-link:hover {
  background-color: white;
  color: #1c2455;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.sidebar .nav-link:hover i {
  color: #1c2455;
}

.sidebar .nav-link i {
  margin-right: 15px;
}

.white-box {
  background-color: white;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.white-box .nav-link,
.white-box .nav-link i {
  color: #1c2455;
}

.white-box .nav-link:hover,
.white-box .nav-link:hover i {
  background-color: #1c2455;
  color: white;
}

/* Main content styles */
.main-content {
  margin-left: 325px; /* Set this to match the width of the sidebar */
  padding: 20px; /* Add padding for inner content spacing */
  transition: margin-left 0.3s ease;
}

/* Responsive styles */
@media (max-width: 1200px) {
  .sidebar {
    width: 250px;
  }

  .main-content {
    margin-left: 250px;
  }

  .sidebar img {
    width: 70px;
    height: 70px;
  }

  .sidebar .nav-link {
    font-size: 14px;
  }
}

@media (max-width: 992px) {
  .sidebar {
    width: 200px;
    padding: 15px;
  }

  .main-content {
    margin-left: 200px;
  }

  .sidebar img {
    width: 60px;
    height: 60px;
  }

  .sidebar .nav-link {
    font-size: 12px;
    padding: 5px;
  }
}

@media (max-width: 768px) {
  .sidebar {
    width: 150px;
    padding: 10px;
  }

  .main-content {
    margin-left: 0px;
    margin-top: 70px;
  }

  .sidebar img {
    width: 50px;
    height: 50px;
  }

  .sidebar .nav-link {
    font-size: 10px;
    padding: 3px;
  }
}


/* Top Navbar styles */
.navbar {
  z-index: 1030; /* Ensure the navbar is above other content */
  background-color: #1c2455 !important;

}

.navbar a {
    color: #ffffff;
}
/* Navbar link styles */

.navbar-nav .nav-link {
  color: white;
  padding-left: 15px !important;
}

.navbar.bg-primary.d-md-none .navbar-nav .nav-link .nav-text {
  padding-left: 10px !important;
}

.navbar a:hover {
  background-color: #1c2455;
  color: white;
}

.navbar-nav .nav-link:hover {
  background-color: #ffffff; /* Background color on hover */
  color: #1c2455; /* Ensure text color remains white on hover */
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  transition: all 0.3s ease;
}

/* Navbar dropdown styles */
.navbar-nav .dropdown-menu {
  background-color: #ffffff; /* Background color for dropdown */
  border-radius: 10px;
  transition: all 0.3s ease;

}

.navbar-nav .dropdown-item {
  color: #1c2455; /* Text color for dropdown items */
}

.navbar-nav .dropdown-item:hover {
  background-color: #2a3560; /* Slightly different color for hover effect */
}

/* Navbar-toggler styles */
.navbar-toggler {
  border-color: white; /* Border color for toggler button */
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba(255, 255, 255, 0.5)' stroke-width='2' d='M5 7h20M5 15h20M5 23h20'/%3E%3C/svg%3E");
}

/* Media queries for responsive design */
@media (min-width: 768px) {
  .navbar {
      display: none; /* Hide top navbar on larger screens */
  }
}

@media (max-width: 768px) {
  .sidebar {
      display: none; /* Hide sidebar on smaller screens */
  }
}

@media (min-width: 768px) {
  .main-content {
      padding-top: 50px;
  }
}
